@model IEnumerable<Studenti.Models.Kolegiji>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kolegijIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolegijGodinaID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kolegijIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolegijGodinaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.kolegijID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.kolegijID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.kolegijID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
